[project]
	description = This is the code repository for ONIE.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Curt Brune (cbrune)
[access "refs/for/refs/*"]
	read = group user/Curt Brune (cbrune)
	push = group user/Curt Brune (cbrune)
	label-Code-Review = -2..+2 group user/Curt Brune (cbrune)
	label-Verified = -1..+1 group user/Curt Brune (cbrune)
	rebase = group user/Curt Brune (cbrune)
	removeReviewer = group user/Curt Brune (cbrune)
	submit = group user/Curt Brune (cbrune)
[access "refs/heads/*"]
	read = group user/Curt Brune (cbrune)
	create = group user/Curt Brune (cbrune)
	push = +force group user/Curt Brune (cbrune)
	pushMerge = group user/Curt Brune (cbrune)
[access "refs/tags/*"]
	push = +force group user/Curt Brune (cbrune)
	pushTag = group user/Curt Brune (cbrune)
	pushSignedTag = group user/Curt Brune (cbrune)
